/straight/*
!/straight/versions/


# see https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

*.elc
/elpa/
/el-get/

/auto-save-list/
/tramp
/.org-id-locations

/init__preinit_this_machine.el
/org-clock-save.el
/projectile-bookmarks.eld
/.emacs-places
/bookmarks

/url/

projectile.cache

recentf
smex-items

/ido.last





/no-littering-var/org/id-locations.el
/no-littering-var/
